@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 <form method="post" action="Home/LoginCheck">
    Username :- <input type="text" name="username" /> <br />
    Password :- <input type="password" name="password" /> <br />
    <input type="submit" value="Click Here" />
    </form>